@media only screen and (max-width: 600px) {
    body {
      background-color: #b3b6b7;
    }
  }

  #header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #nav-bar {
    display: flex
  }